[submodule "zsh/zsh-z"]
	path = zsh/modules/zsh-z
	url = https://github.com/agkozak/zsh-z
[submodule "nvim/vim-plug"]
	path = nvim/vim-plug
	url = https://github.com/junegunn/vim-plug.git
[submodule "zsh/modules/prezto"]
	path = zsh/modules/prezto
	url = https://github.com/sorin-ionescu/prezto.git
