/*

!/.gitignore
!/.gitmodules

!/alacritty
!/archey4
!/aria2
!/chrome*-flags.conf
!/clash
!/containers
/containers/systemd
!/git
!/kbct
!/kde
!/kitty
!/nftables.conf
!/nvim
!/pacman
!/spacemacs
/spacemacs/.spacemacs.env
!/ssh
!/sway
!/systemd
/systemd/user/*.target.wants
!/tmux
!/utils
!/xdg
!/zsh
/zsh/rc.d/*local.zsh
/zsh/rc.d/3?-*.zsh
