/*

!.gitignore
!aria2/
!archey4/
!chrome*-flags.conf
!containers/
!fontconfig/
!git/
!kbct/
!kde/
!nftables.conf
!nvim/
!pacman/
!ssh/
!systemd/
systemd/user/*.target.wants/
!tmux/
!trojan/
!zsh/
zsh/rc.d/50-*.zsh
zsh/rc.d/*local.zsh
