[submodule "zsh/zsh-z"]
	path = zsh/modules/zsh-z
	url = https://github.com/agkozak/zsh-z
[submodule "zsh/modules/prezto"]
	path = zsh/modules/prezto
	url = https://github.com/sorin-ionescu/prezto.git
