/*

!/.gitignore
!/.gitmodules
!/aria2
!/archey4
!/chrome*-flags.conf
!/containers
/containers/systemd
!/fontconfig
!/git
!/kbct
!/kde
!konsolerc
!/nftables.conf
!/nvim
!/pacman
!plasmashellrc
!plasma-localerc
!/ssh
!/systemd
/systemd/user/*.target.wants
!/tmux
!/trojan
!/utils
!/xdg
!/zsh
/zsh/rc.d/3?-*.zsh
/zsh/rc.d/*local.zsh
