[Unit]
Description=ip route and rule for clash tproxy
After=network.target
Before=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/sbin/ip rule add fwmark 69 table 69
ExecStart=/usr/sbin/ip route add local default dev lo table 69
ExecStop=/usr/sbin/ip rule del fwmark 69 table 69
ExecStop=/usr/sbin/ip route del local default dev lo table 69

[Install]
WantedBy=multi-user.target
