[Unit]
ConditionPathIsMountPoint=/mnt/data


[Service]
Restart=always
RestartSec=60


[Container]
ContainerName=audiobookshelf
Image=docker.io/advplyr/audiobookshelf

PublishPort=8900:80

Volume=${HOME}/containers/audiobookshelf/config:/config
Volume=${HOME}/containers/audiobookshelf/metadata:/metadata
Volume=/mnt/data/shared/audiobooks:/audiobooks:ro
