[Service]
Restart=always
RestartSec=60


[Install]
WantedBy=default.target


[Container]
ContainerName=caddy
Image=localhost/caddy:cfdns

Network=host

Volume=%h/containers/caddy/Caddyfile:/etc/caddy/Caddyfile
Volume=%h/containers/caddy/config:/config/caddy
Volume=%h/containers/caddy/data:/data
Volume=%h/containers/caddy/srv:/srv:ro
Volume=/etc/localtime:/etc/localtime:ro
