[Service]
Restart=always
RestartSec=5


[Install]
WantedBy=default.target


[Container]
ContainerName=clash
Image=docker.io/metacubex/mihomo

Network=host
AddCapability=CAP_NET_ADMIN
AddCapability=CAP_NET_RAW

Volume=/etc/clash:/root/.config/mihomo
Volume=/etc/localtime:/etc/localtime:ro
