[Service]
Restart=always
RestartSec=60


[Install]
WantedBy=default.target


[Container]
ContainerName=grafana
Image=docker.io/grafana/grafana
Pod=prometheus.pod

User=1000:1000

Volume=${HOME}/containers/grafana:/var/lib/grafana
Volume=/etc/localtime:/etc/localtime:ro
