[Service]
Restart=always
RestartSec=60


[Install]
WantedBy=default.target


[Container]
ContainerName=grafana
Image=docker.io/grafana/grafana

User=1000:1000
UserNS=keep-id

Network=prometheus.network
PublishPort=6500:3000

Volume=%h/containers/grafana:/var/lib/grafana
Volume=/etc/localtime:/etc/localtime:ro
