[Service]
Restart=always
RestartSec=60


[Install]
WantedBy=default.target


[Container]
ContainerName=grafana
Image=docker.io/grafana/grafana

User=1000:1000
UserNS=keep-id

Network=host

Volume=%h/containers/grafana/:/var/lib/grafana/
Volume=/etc/localtime:/etc/localtime:ro

Environment=GF_SERVER_HTTP_PORT=6500
