[Unit]
ConditionPathIsMountPoint=/mnt/solar
ConditionPathIsMountPoint=/mnt/data


[Service]
Restart=always
RestartSec=60


[Container]
Pod=hath.pod
ContainerName=hath
Image=localhost/hath

Ulimit=nofile=65536:65536

Volume=${HOME}/containers/hath:/hath
Volume=/mnt/solar/repo/hath_cache:/cache
Volume=/mnt/data/repo/hath:/downloads
Volume=/etc/localtime:/etc/localtime:ro

Environment=HTTP_PROXY=http://host.containers.internal:9000
Environment=HTTPS_PROXY=http://host.containers.internal:9000
Environment=ALL_PROXY=socks5://host.containers.internal:9000
