[Unit]
ConditionPathIsMountPoint=/mnt/solar
ConditionPathIsMountPoint=/mnt/data


[Service]
Restart=always
RestartSec=10


[Container]
Pod=hath.pod
ContainerName=hath
Image=localhost/hath

Ulimit=nofile=65536:65536

Volume=${HOME}/containers/hath:/hath:z
Volume=/mnt/solar/hath_cache:/cache:z
Volume=/mnt/data/repo/hath:/downloads:z
Volume=/etc/localtime:/etc/localtime:ro
