[Unit]
ConditionPathIsMountPoint=/mnt/solar
ConditionPathIsMountPoint=/mnt/data


[Service]
Restart=always
RestartSec=60


[Container]
Pod=hath.pod
ContainerName=hath
Image=localhost/hath

Ulimit=nofile=65536:65536

Volume=${HOME}/containers/hath:/hath
Volume=/mnt/solar/hath_cache:/cache
Volume=/mnt/data/repo/hath:/downloads
Volume=/etc/localtime:/etc/localtime:ro
