[Unit]
ConditionPathIsMountPoint=/mnt/data


[Service]
Restart=always
RestartSec=60


[Install]
WantedBy=default.target


[Container]
Pod=jellyfin.pod
ContainerName=jellyfin
Image=docker.io/jellyfin/jellyfin

ShmSize=512mb

Volume=${HOME}/containers/jellyfin/cache:/cache
Volume=${HOME}/containers/jellyfin/config:/config
Volume=/mnt/data/:/data:ro
Volume=/mnt/rabbithouse:/rabbithouse:ro
Volume=/etc/localtime:/etc/localtime:ro

Environment=HTTP_PROXY=http://host.containers.internal:9000
Environment=HTTPS_PROXY=http://host.containers.internal:9000
Environment=ALL_PROXY=socks5://host.containers.internal:9000
