[Unit]
ConditionPathIsMountPoint=/mnt/data


[Service]
Restart=always
RestartSec=10


[Install]
WantedBy=default.target


[Container]
Pod=jellyfin.pod
ContainerName=jellyfin
Image=docker.io/jellyfin/jellyfin

ShmSize=512mb

Volume=${HOME}/containers/jellyfin/cache:/cache:z
Volume=${HOME}/containers/jellyfin/config:/config:z
Volume=/mnt/data/:/data:ro
Volume=/etc/localtime:/etc/localtime:ro
