[Unit]
ConditionPathIsMountPoint=/mnt/data


[Service]
Restart=always
RestartSec=60


[Install]
WantedBy=default.target


[Container]
ContainerName=lanraragi
Image=docker.io/difegue/lanraragi

PublishPort=8800:3000

Volume=%h/containers/lanraragi/thumbs:/home/koyomi/lanraragi/thumb
Volume=%h/containers/lanraragi/database:/home/koyomi/lanraragi/database
Volume=%h/containers/lanraragi/LRR-galleryinfo.txt/HatHGalleryinfo.pm:/home/koyomi/lanraragi/lib/LANraragi/Plugin/HatHGalleryinfo.pm:ro
Volume=/mnt/data/archived/hon:/home/koyomi/lanraragi/content:ro
Volume=/etc/localtime:/etc/localtime:ro


Environment=LRR_UID=0
Environment=LRR_GID=0
Environment=LRR_AUTOFIX_PERMISSIONS=0
