[Unit]
ConditionPathIsMountPoint=/mnt/data


[Service]
Restart=always
RestartSec=60


[Container]
ContainerName=lanraragi
Image=docker.io/difegue/lanraragi

PublishPort=8800:3000

Volume=${HOME}/containers/lanraragi/thumbs:/home/koyomi/lanraragi/thumb
Volume=${HOME}/containers/lanraragi/database:/home/koyomi/lanraragi/database
Volume=${HOME}/containers/lanraragi/LRR-galleryinfo.txt/HatHGalleryinfo.pm:/home/koyomi/lanraragi/lib/LANraragi/Plugin/HatHGalleryinfo.pm:ro
Volume=/mnt/data/archived/hon:/home/koyomi/lanraragi/content:ro
Volume=/etc/localtime:/etc/localtime:ro
