[Service]
Restart=always
RestartSec=10


[Install]
WantedBy=default.target


[Container]
ContainerName=node-exporter
Image=docker.io/prom/node-exporter

Network=host

Volume=/:/host:ro,rslave
Volume=/etc/localtime:/etc/localtime:ro

Exec=--path.rootfs=/host
Exec=--web.listen-address=:6550
