[Unit]
ConditionPathIsMountPoint=/mnt/data


[Service]
Restart=always
RestartSec=60


[Install]
WantedBy=default.target


[Container]
ContainerName=openlist
Image=openlistteam/openlist:latest

User=1000:1000

Volume=${HOME}/containers/openlist:/opt/openlist/data
Volume=/mnt/data/games:/games:ro
Volume=/etc/localtime:/etc/localtime:ro

Pod=openlist.pod
