[Unit]
ConditionPathIsMountPoint=/mnt/data/


[Service]
Restart=always
RestartSec=60


[Container]
ContainerName=openlist
Image=docker.io/openlistteam/openlist:latest

User=1000:1000
UserNS=keep-id

PublishPort=6900:5244

Volume=%h/containers/openlist/:/opt/openlist/data/
Volume=/mnt/data/:/data/:ro
Volume=/etc/localtime:/etc/localtime:ro
