[Service]
Restart=always
RestartSec=60


[Install]
WantedBy=default.target


[Container]
ContainerName=pgadmin
Image=docker.io/dpage/pgadmin4

UserNS=keep-id:uid=5050

Network=postgres.network
PublishPort=6300:80

Volume=%h/containers/pgadmin/pgadmin:/var/lib/pgadmin
Volume=/etc/localtime:/etc/localtime:ro

EnvironmentFile=%h/containers/pgadmin/env
