[Service]
Restart=always
RestartSec=60


[Install]
WantedBy=default.target


[Container]
ContainerName=pgadmin
Image=docker.io/dpage/pgadmin4

Volume=/etc/localtime:/etc/localtime:ro
Volume=${HOME}/containers/pgadmin/pgadmin:/var/lib/pgadmin

User=0:0

EnvironmentFile=%h/containers/pgadmin/env

Pod=postgres.pod
