[Service]
Restart=always
RestartSec=60

Requires=podman.socket
After=podman.socket


[Install]
WantedBy=default.target


[Container]
ContainerName=podman-exporter
Image=quay.io/navidys/prometheus-podman-exporter
Pod=prometheus.pod

User=1000:1000

Volume=${XDG_RUNTIME_DIR}/podman/podman.sock:/run/podman/podman.sock
Volume=${HOME}/containers/podman-exporter:/.config
Volume=/etc/localtime:/etc/localtime:ro

Environment=CONTAINER_HOST=unix:///run/podman/podman.sock
