[Service]
Restart=always
RestartSec=10

Requires=podman.socket
After=podman.socket


[Install]
WantedBy=default.target


[Container]
ContainerName=podman-exporter
Image=quay.io/navidys/prometheus-podman-exporter
Pod=prometheus.pod

UserNS=keep-id
SecurityLabelDisable=true

Volume=${XDG_RUNTIME_DIR}/podman/podman.sock:/run/podman/podman.sock
Volume=/etc/localtime:/etc/localtime:ro

Environment=CONTAINER_HOST=unix:///run/podman/podman.sock
