[Service]
Restart=always
RestartSec=10

[Install]
WantedBy=default.target

[Container]
ContainerName=postgres
Image=docker.io/library/postgres
Pod=postgres.pod

User=1000:1000
UserNS=keep-id

Volume=${HOME}/containers/postgres/data:/var/lib/postgresql/data:z
Volume=/etc/localtime:/etc/localtime:ro

Environment=POSTGRES_USER=postgres
Environment=POSTGRES_PASSWORD=postgres
Environment=POSTGRES_DB=tgsync
