[Service]
Restart=always
RestartSec=60


[Install]
WantedBy=default.target


[Container]
ContainerName=postgres
Image=docker.io/pgvector/pgvector:pg18-trixie

Ulimit=nofile=65536:65536

UserNS=keep-id:uid=999,gid=999

Network=postgres.network

Volume=%h/containers/postgres:/var/lib/postgresql
Volume=/etc/localtime:/etc/localtime:ro

Environment=POSTGRES_USER=postgres
Environment=POSTGRES_PASSWORD=postgres
