[Service]
Restart=always
RestartSec=60


[Install]
WantedBy=default.target


[Container]
ContainerName=postgres
Image=docker.io/library/postgres
Pod=postgres.pod

Volume=${HOME}/containers/postgres:/var/lib/postgresql
Volume=/etc/localtime:/etc/localtime:ro

Environment=POSTGRES_USER=postgres
Environment=POSTGRES_PASSWORD=postgres
