[Service]
Restart=always
RestartSec=10


[Install]
WantedBy=default.target


[Container]
ContainerName=prometheus
Image=docker.io/prom/prometheus
Pod=prometheus.pod

User=1000:1000
UserNS=keep-id

Volume=${HOME}/containers/prometheus/prometheus.yaml:/etc/prometheus/prometheus.yml:z
Volume=${HOME}/containers/prometheus/data:/prometheus:z
Volume=/etc/localtime:/etc/localtime:ro
