[Service]
Restart=always
RestartSec=60


[Install]
WantedBy=default.target


[Container]
ContainerName=prometheus
Image=docker.io/prom/prometheus
Pod=prometheus.pod

User=1000:1000

Volume=${HOME}/containers/prometheus/prometheus.yaml:/etc/prometheus/prometheus.yml
Volume=${HOME}/containers/prometheus/data:/prometheus
Volume=/etc/localtime:/etc/localtime:ro
