[Service]
Restart=always
RestartSec=60


[Install]
WantedBy=default.target


[Container]
ContainerName=prometheus
Image=docker.io/prom/prometheus

User=1000:1000
UserNS=keep-id

Network=prometheus.network

Volume=%h/containers/prometheus/prometheus.yaml:/etc/prometheus/prometheus.yml
Volume=%h/containers/prometheus/data:/prometheus
Volume=/etc/localtime:/etc/localtime:ro
