[Unit]
ConditionPathIsMountPoint=/mnt/solar
ConditionPathIsMountPoint=/mnt/rabbithole
ConditionPathIsMountPoint=/mnt/data


[Service]
Restart=always
RestartSec=10


[Container]
ContainerName=qbittorrent
Image=lscr.io/linuxserver/qbittorrent:4.5.5

Ulimit=nofile=65536:65536

Network=host

Volume=${HOME}/containers/qbittorrent:/config/qBittorrent
Volume=/mnt/data/repo/qbit:/downloads
Volume=/mnt/solar/repo/qbit:/incomplete
Volume=/mnt/rabbithole/repo/qbit:/rabbithole
Volume=/etc/localtime:/etc/localtime:ro

Environment=WEBUI_PORT=7800
Environment=PUID=0
Environment=PGID=0
