[Unit]
ConditionPathIsMountPoint=/mnt/data


[Service]
Restart=always
RestartSec=60


[Container]
ContainerName=qbittorrent
Image=lscr.io/linuxserver/qbittorrent:4.5.5

Ulimit=nofile=65536:65536

Network=host

Volume=${HOME}/containers/qbittorrent:/config
Volume=/mnt/data/repo/qbit:/downloads
Volume=/etc/localtime:/etc/localtime:ro

Environment=WEBUI_PORT=7800
Environment=PUID=0
Environment=PGID=0
