[Unit]
ConditionPathExists=/mnt/solar
ConditionPathExists=/mnt/rabbithole
ConditionPathExists=/mnt/data

[Service]
Restart=always
RestartSec=10

[Install]
WantedBy=default.target

[Container]
ContainerName=qbittorrent
Image=lscr.io/linuxserver/qbittorrent:4.5.5

Ulimit=nofile=65536:65536

Network=host

Volume=${HOME}/containers/qbittorrent:/config/qBittorrent:z
Volume=/mnt/data/repo/qbit:/downloads:z
Volume=/mnt/solar/repo/qbit:/incomplete:z
Volume=/mnt/rabbithole/repo/qbit:/rabbithole:z
Volume=/etc/localtime:/etc/localtime:ro

Environment=WEBUI_PORT=7800
Environment=PUID=0
Environment=PGID=0
