[Service]
Restart=always
RestartSec=60


[Install]
WantedBy=default.target


[Container]
ContainerName=registry
Image=docker.io/library/registry:2

PublishPort=6650:5000

Volume=%h/containers/registry:/var/lib/registry

Environment=REGISTRY_HTTP_ADDR=0.0.0.0:5000
Environment=REGISTRY_HTTP_RELATIVEURLS=false
Environment=REGISTRY_STORAGE_DELETE_ENABLED=true
