[Service]
Restart=always
RestartSec=60


[Install]
WantedBy=default.target


[Container]
ContainerName=sillytavern
Image=ghcr.io/sillytavern/sillytavern:latest

PublishPort=6700:8000

Volume=${HOME}/containers/sillytavern/config:/home/node/app/config
Volume=${HOME}/containers/sillytavern/data:/home/node/app/data
Volume=${HOME}/containers/sillytavern/plugins:/home/node/app/plugins
Volume=${HOME}/containers/sillytavern/extensions:/home/node/app/public/scripts/extensions/third-party

Environment=NODE_ENV=production
Environment=FORCE_COLOR=1
