[Service]
Restart=always
RestartSec=10

[Install]
WantedBy=default.target

[Unit]
ConditionPathExists=/mnt/solar
ConditionPathExists=/mnt/rabbithole


[Container]
ContainerName=tgsync
Image=localhost/tgsync

Volume=${HOME}/containers/tgsync/appdata:/appdata:z
Volume=/mnt/rabbithole/repo/tg:/media:z
Volume=/mnt/solar/repo/tg:/incomplete:z
Volume=/etc/localtime:/etc/localtime:ro

Pod=postgres.pod
