[Unit]
ConditionPathIsMountPoint=/mnt/misesaki
ConditionPathIsMountPoint=/mnt/rabbithole


[Service]
Restart=always
RestartSec=60


[Install]
WantedBy=default.target


[Container]
ContainerName=tgsync
Image=ghcr.io/x-hachiroku/tgsync:master

Network=postgres.network

Volume=%h/containers/tgsync/:/appdata/
Volume=/mnt/misesaki/tgsync/:/incomplete/
Volume=/mnt/rabbithole/repo/tg/:/media/
Volume=/etc/localtime:/etc/localtime:ro
