[Unit]
ConditionPathIsMountPoint=/mnt/data


[Service]
Restart=always
RestartSec=60


[Container]
ContainerName=transmission
Image=lscr.io/linuxserver/transmission:version-3.00-r8

Ulimit=nofile=65536:65536

Network=host

Volume=${HOME}/containers/transmission/config:/config
Volume=${HOME}/containers/transmission/custom-cont-init.d:/custom-cont-init.d
Volume=${HOME}/containers/transmission/incomplete:/incomplete
Volume=/mnt/data/repo/tr:/downloads
Volume=/etc/localtime:/etc/localtime:ro

Environment=PUID=0
Environment=PGID=0
Environment=WEBUI_PORT=7800
Environment=TRANSMISSION_WEB_HOME=/config/trguing
EnvironmentFile=%h/containers/transmission/env
