[Unit]
ConditionPathExists=/mnt/solar
ConditionPathExists=/mnt/data

[Service]
Restart=always
RestartSec=10

[Container]
ContainerName=hath
Image=localhost/hath

Ulimit=nofile=65536:65536

Network=host

Volume=${HOME}/containers/hath:/hath:z
Volume=/mnt/solar/hath_cache:/cache:z
Volume=/mnt/data/repo/hath:/downloads:z
Volume=/etc/localtime:/etc/localtime:ro
