[Unit]
ConditionPathExists=/mnt/data

[Service]
Restart=always
RestartSec=10

[Install]
WantedBy=default.target

[Container]
ContainerName=jellyfin
Image=docker.io/jellyfin/jellyfin

ShmSize=512mb

PublishPort=8500:8096

Volume=${HOME}/containers/jellyfin/cache:/cache:z
Volume=${HOME}/containers/jellyfin/config:/config:z
Volume=/mnt/data/shared/:/data:ro
Volume=/etc/localtime:/etc/localtime:ro
