[Unit]
ConditionPathExists=/mnt/rabbithole

[Service]
Restart=always
RestartSec=10

[Container]
ContainerName=resilio
Image=lscr.io/linuxserver/resilio-sync

Ulimit=nofile=65536:65536

Network=host

Volume=${HOME}/containers/resilio/config:/config:z
Volume=/mnt/rabbithole/repo/resilio:/downloads:z
Volume=/etc/localtime:/etc/localtime:ro

Environment=PUID=0
Environment=PGID=0
